.custom-popup .mapboxgl-popup-content {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

.custom-popup .mapboxgl-popup-tip {
  display: none;
}